$primary: #f46200;
$secondary: #ffffff;
$tertiary: #1d5191;
$backgroud-light: #ffdeeb;
$background-medium: #fcc2d7;
$background-dark: #d6336c;
$text-light: #fff0f6;
$text-medium: #f976a6;
$text-dark: #a61e4d;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

html {
  overflow-x: clip;
  width: 100dvw;
}
body {
  font-family: 'PT Sans Caption', sans-serif !important;
  width: 100%;
  background-color: $primary;
}
