$primary: #f46200;
$secondary: #eef4ed;
$tertiary: #7e5433;
$backgroud-light: #ffdeeb;
$background-medium: #fcc2d7;
$background-dark: #d6336c;
$text-light: #fff0f6;
$text-medium: #f976a6;
$text-dark: #a61e4d;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

html {
  overflow-x: clip;
  width: 100dvw;
}
body {
  font-family: 'PT Sans Caption', sans-serif !important;
  width: 100%;
  overflow-x: clip;
  background-color: $primary;
}

@mixin centralise {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin absCornerTopleft {
  position: absolute;
  top: 0;
  left: 0;
}
@mixin fixedCornerTopleft {
  position: fixed;
  top: 0;
  left: 0;
}
@mixin absCentralise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin transitionAllEaseInOut($duration) {
  transition: all $duration ease-in-out;
}
