.section-hero {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: $backgroud-light;

  .hero-caption {
    font-size: 4.5rem;
    @media (min-width: $sm) {
      font-size: 7rem;
    }
    @media (min-width: $md) {
      font-size: 10rem;
    }
    @media (min-width: $xl) {
      font-size: 12rem;
    }
    font-weight: bold;
    // text-wrap: wrap;
    color: transparent;

    -webkit-text-fill-color: transparent;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );
    background: -webkit-linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );

    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;

    position: absolute;
    left: 50%;
    margin-left: -50%;
    top: 50%;
    margin-top: -20%;

    animation-name: text-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  video {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }
}

.section-post-intro {
  width: 100%;
  background-color: $background-dark;
  color: $text-light;
  padding: 200px 0;

  .intro-cta-btn {
    line-height: 1.8rem;
    outline: none;
    border: none;
    background-color: $secondary;
    color: $secondary;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.5rem;

    border-radius: 2rem;
    position: fixed;
    right: 2rem;
    bottom: -5rem;
    overflow: hidden;

    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: $background-dark;
      color: $secondary !important;
    }
  }

  // customized animation for intro-cta button
  .delay-animation {
    animation-delay: 5s !important;
  }
  .expand-btn {
    animation: expand-btn 2.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .contract-btn {
    animation: contract-btn 1.8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .post-intro-sub-header {
    transition: all 1s;
  }
  .post-intro-section-container {
    @media (max-width: $sm) {
      padding: 0px 50px;
    }
    padding: 50px 100px;

    .post-intro-section-img img {
      border-radius: 50%;
      max-width: 300px;
      padding: 25px;
    }
    .post-intro-section {
      display: grid;
      text-align: center;

      .col {
        h2 {
          font-weight: bold;
          font-size: 2.441rem;
          padding: 20px 0;
          letter-spacing: 0.1rem;
        }
        p {
          font-size: 1.563rem;
          padding: 20px 0;
          letter-spacing: 0.05rem;
        }
      }
    }
  }
}
