@import './base';

.offers {
  .offers-header {
    color: $primary;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    @media (max-width: $lg) {
      font-size: 3rem;
    }
  }
  .content-wrapper {
    padding: 50px 0 200px;
    margin: 0px 30px;
    @media (min-width: $xl) {
      margin: 0px 120px;
    }
    display: block;

    .col-section {
      .card-image-top {
        width: 100%;
        cursor: pointer;
      }
      perspective: 900px;
      transition: transform 1s, opacity 1s;
      .card-wrapper {
        display: grid;
        transform-style: preserve-3d;
        @include transitionAllEaseInOut(0.6s);
      }
      .card-title {
        font-size: 1.5rem;
        user-select: none;
      }
      .card-text {
        font-size: 1.13rem;
        user-select: none;
      }
      .face {
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .is-flipped {
        transform: rotateY(180deg);
      }
      .back {
        // background-color: $secondary;
        transform: rotateY(180deg);
        > img {
          opacity: 60%;
        }
      }
      // .front {
      //   background-color:  $secondary;
      // }
      .card {
        .cta-links {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 90%;

          .icon-link {
            cursor: pointer;
            z-index: 1;
            color: $primary;
            text-decoration: none;
            text-underline-offset: 0.1;
            &:hover {
              text-decoration: underline;
            }
          }
          button {
            font-size: 90%;
          }
        }
        &:hover {
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          @include transitionAllEaseInOut(0.4s);
        }
      }
    }
  }

  .modal {
    .modal-overlay {
      @include absCornerTopleft;
      height: 100dvh;
      width: 100dvw;
    }
    z-index: 5;
    @include fixedCornerTopleft();
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(36, 32, 32, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;

    .modal-content {
      max-width: 375px;
      background-color: $secondary;

      .card {
        border: none;
      }
      .card-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
      }
      .modal-item-name {
        font-weight: bold;
        font-size: 2.2rem;
        margin-bottom: 1rem;
        max-width: 10ch;
        align-self: center;
      }
      input {
        margin-bottom: 1.5rem;
        text-align: center;
        padding: 1rem;
        align-self: center;
        font-family: inherit;
        font-weight: bold;
      }
      .modal-btn {
        display: block;
        border: none;
        outline: none;
        background-color: $primary;
        color: $secondary;
        padding: 0.8rem 3rem;
        border-radius: 1rem;
        align-self: center;
        font-weight: bold;
        font-size: 1.4rem;

        &:hover {
          background-color: #f8731b;
        }
      }
    }
  }
  .hidden {
    display: none !important;
  }
}
