.section-founder {
  $founder-spacing: 18dvh;

  padding: 7dvh 5rem;
  display: grid;
  place-items: center;
  position: relative;

  &__wrapper {
    height: 100%;
    width: 80%;
    max-width: 35rem;
    display: grid;
    grid-template-rows: $founder-spacing max-content;
    border-radius: 2rem;
    box-shadow: $shadow-light;
    overflow: hidden;

    .wrapper {
      &__top {
        width: 100%;
        height: 100%;
        background-color: $primary-dark;
        position: relative;
      }
      &__bottom {
        padding: $founder-spacing * 0.6 5rem 5rem;

        .h-3 {
          font-size: $font-lg;

          color: $tertiary;
        }
      }
    }
  }

  .img {
    &__container {
      @include absCentralise;
      @include roundImg;
      &--founder {
        width: $founder-spacing * 1.2;
        max-width: 30dvw;
        border: solid 0.7rem $secondary;
        top: 90%;
        left: 60%;
      }
      &--cofounder {
        width: $founder-spacing * 0.9;
        max-width: 25dvw;
        border: solid 0.5rem $secondary;
        top: 95%;
        left: 38%;
        z-index: 2;
      }
    }
  }
}
