.section-hero {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
  display: grid;

  background-color: $backgroud-light;

  .hero-caption {
    &-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -60%);
      z-index: 1;
    }
    display: none;
    font-size: 12rem;
    width: 100%;
    text-align: center;
    width: 10ch;
    @include respond(tab-land) {
      font-size: 10rem;
    }
    @include respond(tab-port) {
      font-size: 7rem;
    }
    @include respond(phone) {
      font-size: 5rem;
    }
    @include respond(phone-sm) {
      font-size: 4rem;
    }
    font-weight: bold;
    color: transparent;

    -webkit-text-fill-color: transparent;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );
    background: -webkit-linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );

    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;

    animation-name: text-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  .video {
    width: 100%;
    height: 100dvh;
    position: relative;
    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    video {
      display: none;
    }
  }
}

.section-post-intro {
  background-color: $background-dark;
  color: $text-light;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 3rem;

  &-grid {
    display: grid;
    max-width: 112.5rem;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 5rem;

    &-content {
      transition: all 1s;
    }
    &-img {
      border-radius: 50%;
      max-width: 20dvw;
      min-width: 20rem;
    }

    &-text {
      transition: all 1s;
      letter-spacing: 0.05rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  .intro-cta-btn {
    text-decoration: none;
    display: none;
    line-height: 1.7rem;
    background-color: $secondary;
    color: $secondary;
    letter-spacing: 0.1rem;
    font-size: $font-lg;

    padding: 1rem;
    border-radius: 2rem;
    position: fixed;
    right: 3rem;
    bottom: -5rem;
    overflow: hidden;

    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: $background-dark;
      color: $secondary !important;
    }
  }

  // customized animation for intro-cta button
  .delay-animation {
    animation-delay: 5s !important;
  }
  .expand-btn {
    animation: expand-btn 2.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .contract-btn {
    animation: contract-btn 1.8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
}

.section-grid {
  padding: 12.5rem 1.5625rem;
  @media (max-width: $md) {
    padding: 6.25rem 0;
  }
  background-color: $background-medium;
  color: $text-dark;
  max-width: 100%;
  &-wrapper {
    padding: 0;
  }
  &-header {
    transition: all 1s;
  }
  &-subheader {
    font-weight: bold;
    font-size: $font-md;
  }
}
