.section-hero {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
  display: grid;

  background-color: $pink-background--light;

  .hero-caption {
    &-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -60%);
      z-index: 1;
    }
    display: none;
    font-size: 12rem;
    width: 100%;
    text-align: center;
    width: 10ch;
    @include respond(tab-land) {
      font-size: 10rem;
    }
    @include respond(tab-port) {
      font-size: 7rem;
    }
    @include respond(phone) {
      font-size: 5rem;
    }
    @include respond(phone-sm) {
      font-size: 4rem;
    }
    font-weight: bold;
    color: transparent;

    -webkit-text-fill-color: transparent;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );
    background: -webkit-linear-gradient(
      60deg,
      rgba(255, 255, 255, 1) 40%,
      rgba(232, 44, 138, 1) 81%
    );

    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;

    animation-name: text-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  .video {
    width: 100%;
    height: 100dvh;
    position: relative;
    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    video {
      display: none;
    }
  }
}

.section-post-intro {
  background-color: $pink-background--dark;
  color: $pink--light;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 3rem;

  &-grid {
    display: grid;
    max-width: 112.5rem;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 5rem;

    &-content {
      transition: all 1s;
    }
    &-img {
      border-radius: 50%;
      max-width: 20dvw;
      min-width: 20rem;
    }

    &-text {
      transition: all 1s;
      letter-spacing: 0.05rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  .intro-cta-btn {
    text-decoration: none;
    display: none;
    line-height: 1.7rem;
    background-color: $secondary;
    color: $secondary;
    letter-spacing: 0.1rem;
    font-size: $font-lg;

    padding: 1rem;
    border-radius: 2rem;
    position: fixed;
    right: 3rem;
    bottom: -5rem;
    overflow: hidden;

    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: $pink-background--dark;
      color: $secondary !important;
    }
  }

  // customized animation for intro-cta button
  .delay-animation {
    animation-delay: 5s !important;
  }
  .expand-btn {
    animation: expand-btn 2.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .contract-btn {
    animation: contract-btn 1.8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
}

.section-grid {
  background-color: $pink-background--medium;
  padding: 15rem 1rem;

  &-header,
  &-subheader {
    color: $pink--dark;
  }
  &-subheader {
    font-size: $font-lg;
  }
}

.grid-gallery-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(7, 10dvh);
  grid-gap: 0.7rem;
  .grid {
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      object-position: center;

      transition: transform 0.2s;
      &:hover {
        transform: scale(1.05);
      }
    }
    &-item {
      max-width: 100%;
      object-position: center;
      object-fit: cover;

      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      overflow: hidden;
      border-radius: 0.5rem;

      &--1 {
        grid-column: 1 / span 2;
        grid-row: 3 / span 3;
      }
      &--2 {
        grid-column: 3 / span 2;
        grid-row: 3 / span 2;
      }
      &--3 {
        grid-column: 5 / span 6;
        grid-row: 1 / span 3;
      }
      &--4 {
        grid-column: 9 / span 3;
        grid-row: 4 / span 4;
      }
      &--5 {
        grid-column: 8 / span 1;
        grid-row: 4 / span 2;
      }
      &--6 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 2;
      }
      &--7 {
        grid-column: 14 / -1;
        grid-row: 3 / span 3;
      }
      &--8 {
        grid-column: 11 / span 2;
        grid-row: 1 / span 2;
      }
      &--9 {
        grid-column: 5 / span 3;
        grid-row: 4 / span 2;
        position: relative;
        top: -55dvh;
        left: 55dvw;
        transition: all 3s ease-in-out;
        transition-delay: 0.5s;
        &.show {
          transform: translate(-55dvw, 55dvh);
        }
      }
      &--10 {
        grid-column: 12 / -1;
        grid-row: 6 / -1;
      }
      &--11 {
        grid-column: 12 / span 2;
        grid-row: 3 / span 3;
      }
      &--12 {
        grid-column: 3 / span 2;
        grid-row: 5 / span 1;
      }
      &--13 {
        grid-column: 13 / -1;
        grid-row: 1 / span 2;
      }
      &--14 {
        grid-column: 6 / span 3;
        grid-row: 6 / span 2;
      }
      &--15 {
        grid-column: 1 / span 5;
        grid-row: 6 / span 2;
      }
      &--16 {
        grid-column: 11 / span 1;
        grid-row: 3 / span 1;
      }
    }
  }
}
