%banner,
.banner {
  background-size: cover;
  background-position: center;
  object-fit: cover;

  height: 40dvh;
  width: 100dvw;
  position: relative;
  overflow: hidden;

  &__text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -45%));
  }

  &__img {
    width: 100%;
  }

  @include respond(desktop) {
    height: 45dvh;
  }
}
