.btn {
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  padding: $spacing * 0.7 $spacing * 3;
  color: $secondary-light;
  font-size: $font-md;
  letter-spacing: 0.1rem;
  line-height: 1.7;

  &:hover,
  &:active {
    color: $secondary;
  }
}
