.section-carousel {
  background-color: $pink-background--medium-dark;
  color: $pink--medium-dark;
  min-height: 50rem;
  padding: 10rem 3rem;
  @media (max-width: $md) {
    padding: 10rem 0rem;
  }
  .carousel-header {
    margin-bottom: 5rem;
  }

  .carousel-wrapper {
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    @include centralise();
    height: 40rem;
    background-color: $secondary-light;
    overflow: hidden;
    .card-container {
      position: relative;
      width: 20rem;
      height: 30rem;
      margin: auto;

      .carousel-card {
        opacity: 0.4;
        width: 20rem;
        height: 100%;
        @include absCornerTopleft();
        @include transitionAllEaseInOut(1.2s);
        cursor: pointer;

        .card-title {
          font-size: 1.5rem;
          color: $tertiary;
          &,
          .card-text {
            user-select: none;
          }
        }
      }

      .carousel-card-active {
        opacity: 1;
        transform: scale(1.1) !important;
      }
    }
  }
  .dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    height: 1rem;
    align-items: center;
  }
  .dots-dot {
    padding: 0.13rem 0.8rem;
    @include transitionAllEaseInOut(1.2s);
    max-width: 0.2rem;
    height: 0.2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: $pink-background--medium-dark;
  }
  .dots-dot-active {
    opacity: 1;
    padding: 0.25rem;
    background-color: $pink-background--dark;
  }
}
