.globalfooter {
  color: $secondary;
  font-size: $font-sm;

  &__wrapper {
    padding: 5dvh 5dvw;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &-column-section {
    padding-left: 0;

    &.expand {
      .globalfooter-column-section-list {
        margin-top: 0;
      }
    }

    &-text {
      margin-bottom: 0rem;
    }

    &-list {
      &-wrapper {
        overflow: hidden;
      }
      list-style: none;
      padding-left: 0;
      overflow: hidden;
      @include transitionAllEaseInOut(0.5s);
    }

    &::after {
      content: '';
      position: relative;
      height: 1px;
      width: 82dvw;

      background-color: $white-opaque;
      display: none;
    }
    &-button {
      width: 100%;
      display: none;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: $spacing * 0.5 0;
    }

    &-item {
      a:link,
      a:visited {
        color: $white-opaque;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .footer__expand-btn {
    fill: $white-opaque;
    width: 32px;
    height: 32px;
    padding: 0.5rem;
    transition: transform 0.2s;

    &.rotate {
      transform: rotate(-90deg);
    }
  }

  @include respond(phone) {
    &__nav {
      display: flex;
      flex-direction: column;
    }

    &-column {
      width: 100%;

      &-section {
        padding: 0.5rem 0;

        &-text {
          display: none;
        }

        &-button {
          display: flex;
        }

        &::after {
          display: block;
        }
        &-list {
          margin-top: -100%;
          padding-left: 1rem;
        }
      }
    }
  }
}
