.globalfooter {
  color: $secondary;
  font-size: 0.9rem;

  .footer__expand-btn {
    fill: $white-opaque;
    width: 32px;
    height: 32px;
    padding: 0.5rem;
    transition: transform 0.2s;

    &.rotate {
      transform: rotate(-90deg);
    }
  }
  a {
    color: $white-opaque;
  }

  &-column-section {
    padding-left: 0;
    @media (max-width: $md) {
      padding: 0.5rem 0;
    }

    &.expand {
      .globalfooter-column-section-list {
        margin-top: 0 !important;
      }
    }

    &-title {
      &-text {
        margin-bottom: 0rem;
        @media (max-width: $md) {
          display: none;
        }
      }
      &-text-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: $primary;
          border-color: $primary;
        }
        @media (min-width: $md) {
          display: none;
        }
      }
    }

    &-list {
      &-wrapper {
        overflow: hidden;
      }
      list-style: none;
      padding-left: 0;
      overflow: hidden;
      @include transitionAllEaseInOut(0.5s);

      a {
        text-decoration: none;
        z-index: 2;
      }
      @media (max-width: $md) {
        margin-top: -100%;
        padding-left: 1rem;
      }
    }

    &::after {
      content: '';
      position: relative;
      height: 1px;
      display: block;
      background-color: $white-opaque;
      @media (min-width: $md) {
        display: none;
      }
    }
  }
  &-item {
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
    @media (min-width: $md) {
      margin-bottom: 0.3rem;
    }
  }
}
